.user-list{
	.header{
		display: none;
		@include mq(768px){
			display: block;
			background-color: #EEE;
			padding: 1rem .5rem;
			span{
				&.username,
				&.display-name{
					display: inline-block;
					width: 20%;
					font-weight: bold;
				}
			}
		}
	}
	.user{
		border: solid 1px #EEE;
		padding: 1rem .5rem;
		@include clearfix();
		span{
			display: block;
			width: 64%;
			float: left;
			@include mq(768px){
				display: inline-block;
				width: auto;
				&.username,
				&.display-name{
					width: 20%;
				}

			}
		}
		.user-actions{
			width: 13rem;
			float: right;
			vertical-align: middle;
			@include mq(768px){
				width: 10rem;				
			}
			.btn{
				display: inline-block;
				font-size: 2.25rem;
				width: 4rem;
				@include mq(768px){
					width: 2.75rem;
					font-size: 1.5rem;
				}
			}
		}
	}
}