<section class="exchange-list" data-ng-init="vm.loadExchangeList()">
	<h3>My Portfolios</h3>
	<exchange data-ng-repeat="exchange in vm.exchangeList | filter: {isMember:true}" exchange="exchange"></exchange>

	<h3>Join an Exchange</h3>
	<section class="exchange non-member" data-ng-repeat="exchange in vm.exchangeList | filter: {isMember:false}">
		<section class="info">
			<a href="#"><span data-ng-bind="exchange.name"></span></a>
			<div class="ends">
				Closes <span data-ng-bind="exchange.endDate | date: 'M/d/yy'"></span></div>
			<h5>
				Current Leader:
				<span data-ng-bind="exchange.leader.name"></span>
				<span class="stock" data-ng-class="{down:exchange.leader.changePct < 0, up:exchange.leader.changePct > 0}" data-ng-bind="exchange.leader.changePct | percentage"></span>
			</h5>
		</section>		
	</section>
</section>