* { font-family: 'Arial', 'Helvetica', 'sans-serif' }

h1{
	color: #aaa;
	font-size: 3.5rem;
}
h3{
	color: #aaa;
	border-bottom: solid 1px #aaa;
	font-size: 1.5rem;
	margin-top: 0;
}
h4{
	color: $blue;
	font-size: 1.5rem;
	text-transform: uppercase;
}

a{
	color: $blue;
	&:hover,&:active{
		color: $faded-blue;
		text-decoration: none;
	}
	&.action{
		color: #AAA;
		text-transform: uppercase;
		&:hover,&:active{
			color: $faded-blue;
		}
	}
}

input[type=text],
input[type=password],
input[type=email],
input[type=phone],
input[type=url],
{
	position: relative;
	border:none;
	border-bottom: solid 1px #000;
	background-color: transparent;
	width: 100%;
	margin: 1rem 0;
	&.ng-dirty{
		&.ng-invalid{
			background: #fff url(/img/red-x.png) no-repeat 98% center;
		}
		&.ng-valid{
			background: #fff url(/img/green-check.png) no-repeat 98% center;
		}
	}
}

select{
	position: relative;
	background-color: transparent;
	width: 100%;
	margin: 1rem 0;
	option{
		color: #0F0;
	}
}

form{
	.fa-question-circle{
		vertical-align: text-bottom;
		font-size: 2rem;
	}
}

.content{
	padding: 1rem;
}

header.topbar {
	background-color: #EFEFEF;
	color: #333;
	font-size: 1.75rem;
	padding: 1rem;
	border-bottom: solid 1px #DDD;
	@include clearfix();
	span.fa {
		font-size: 2rem;
	}
}

.badge{
	font-weight: normal;
	background-color: $orange;
	color: #FFF;
	font-size: 1.5rem;
}

.stock{
	.symbol{
		text-transform: uppercase;
	}
	.price{
		color: #000;
	}
	.down{
		color: #F00;
	}
	.up{
		color: #0B0;
		&:before{
			content:"+";
		}
	}
}

.snap-drawer{
  @include mq(960px){
    visibility: hidden;
    display: none;
  }
  color: #666;
  border-right: inset 1px #CCC;
  nav{
    margin-top: 5rem;
    margin-left: 0;
  }
  ul{
    list-style: none;
    padding-left: 0;
    &:last-child {
      border-bottom: dotted 1px #CCC;
    }
  }
  li {
    list-style-type: none;
  }
  a{
    color:#666;
    font-size: 2rem;
    display: block;
    padding: 1rem;
    border-top: dotted 1px #CCC;
    &.separator{
    	border-top: solid 2px #999;
    }
    &:hover{
      color:#000;
      background-color: #CCC;
      text-decoration: none;
    }
  }
}

snap-content {
  @include mq(960px){
    width: 960px;
    height: auto;
    margin: auto;
    overflow: visible;
  }
  background-color: #FFF;
  //border-left: 1px solid #000;
  //border-right: 1px solid #000;
  [snap-toggle="left"] {
    .icon-bar {
      display: block;
      width: 1.5rem;
      height: .2rem;
      border-radius: 1px;
      background-color: #000;
      margin: .25rem 0;
    }
  }
}

