/* base Assurant colors */
$green: #0ab04b;
$blue: #06C;/*#0671b9;*/
$orange: #f99f1c;

$faded-blue: #79a9f7;
$faded-green: #1a9850;
$faded-orange: #faa61a;

$link-blue: #06C;

$light-blue: rgba(8, 104, 172, 0.5);
$light-green: rgba(26, 152, 80, 0.5);
$light-orange: rgba(250, 166, 26, 0.5);
