<section class="register" data-ng-controller="RegistrationCtrl as vm">
	<h1>Fantasy Trader Registration</h1>
	<div class="registration-form">
		<div class="form-group">
			<input type="text" name="firstName" class="form-input" placeholder="First Name" data-ng-model="vm.user.FirstName" required/>
		</div>

		<div class="form-group">
			<input type="text" name="lastName" class="form-input" placeholder="Last Name" data-ng-model="vm.user.LastName" required/>
		</div>

		<div class="form-group">
			<input type="email" name="email" class="form-input" placeholder="Email Address" data-ng-model="vm.user.Email" required/>
		</div>

		<div class="captcha" vc-recaptcha theme="'light'" lang="en" data-ng-model="vm.user.Recaptcha.Response"	key="vm.user.Recaptcha.Secret"></div>

		<div class="form-actions">
			<a data-ng-href="#" data-ng-click="vm.register()">Register</a>
		</div>
	</div>
</section>